/* blog.css */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content-header {
    align-items: center;
    color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    font-family: 'Montserat', sans-serif;
    gap: 3rem;
    padding: 60px 60px 30px 60px;
    text-transform: uppercase;
}

.content-title h1 {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content h1 {
    color: rgb(210, 210, 210);
    font-family: 'Oswald', sans-serif;
    font-size: 175px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media (max-width: 1411px) {
    .content h1 {
        flex-direction: column;
        text-align: center; /* optional but looks nicer */
    }
}