/* photos.css */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content-header {
    align-items: center;
    color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    font-family: 'Montserat', sans-serif;
    gap: 3rem;
    padding: 60px;
    text-transform: uppercase;
}

.content-title h1 {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
}

.gallery-features {
    align-items: center;
    display: flex;
    justify-content: center;
}

.gallery-features ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: inherit;
    transition: text-decoration 1s ease;
}

.gallery-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px
}

.gallery-btn.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px
}

.gallery {
    column-count: 3;
    column-gap: 60px;
    padding: 0px 60px 60px 60px;
}

.gallery img {
    break-inside: avoid;
    cursor: pointer;
    margin-bottom: 60px;
    width: 100%;
}

#viewer {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

#viewer img {
    max-width: 85%;
    max-height: 85%;
}

#viewer.hidden {
    display: none;
}

@media (max-width: 1100px) {
    .gallery {
        column-count: 2;
        column-gap: 30px;
        padding: 0px 30px 30px 30px;
    }
}

@media (max-width: 750px) {
    .gallery {
        column-count: 2;
        column-gap: 15px;
        padding: 0px 15px 15px 15px;
    }
}
